html {
  font-size: 17px;
}

body {
  font-family: "Nunito", sans-serif;
   background-color:#556B2F;

}

p {
  font-size: 2rem;
  margin-bottom: -10px !important;
}

h4 {
  font-size: 1.5rem;
}

small {
  font-weight: lighter;
  color:lightpink;
  margin: 0;
}


.flex {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.App {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  background-color:#BDB76B;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  height:500px;
  margin-top: 25px;
  box-shadow: 15px 20px 70px -10px;
}

.input-range__label--max {
  display: none;
}

.input-range__label--min {
  display: none;
}

.input-range__label-container {
  left: -50%;
  position: relative;
  display: none;
}

ul {
  list-style-type: none;
  background-color:#BDB76B;
  

}

li:nth-child(even) {
  background-color:#808000;
}
li:hover, li:active{
  font-size: 150%;
}

.sidebar{
  justify-content: center;
  background-color:#BDB76B;
  padding: 2rem;
  border-radius: 0.5rem;
  width:100%;
  margin-left: 5px;
  box-shadow: 15px 20px 70px -10px;
}

.side{
  background-color:#808000;
  
  padding:2rem;
  margin:25px;
  border-radius: 0.5rem;
  height:500px;
  width:320px;

}

.abc{
  display:inline;
  text-align: center;
  margin: 10px;
  background-color:#9ACD32;
  padding:5px;

}
.xyz{
  margin-top:20px;
  
}

.slider{
  margin: 30px;
}
.rec{
  background-color:#9ACD32;
  margin-bottom: 5px;
}